<!DOCTYPE html>
<html>

<head>
    <title>Student Sign In</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app" v-cloak> <!-- CLOAK hides the DIV until the entire page has loaded-->


        <!-- TODO show errors from form validation -->
        <div class="alert alert-danger" v-if="errors.length > 0">
            <ul>
                <li v-for="error in errors"> {{ error }} </li>
            </ul>
        </div>

        <div class="card add-student m-2 p-2">
            <h4 class="card-title">Add new student</h4>

            <div class="form-group">
                <label for="name">Name</label>
                <!-- TODO v-model newStudentName -->
                <input id="name" class="form-control" v-model.trim="newStudentName"> <!--v-model updates the VUE in devtools-->
            </div>
            <div class="form-group">
                <label for="starID">Star ID</label>
                <!-- TODO v-model newStarID -->
                <input id="starID" class="form-control" v-model.trim="newStarID">
            </div>
            <!-- TODO v-on:click event handler -->
            <button class="btn btn-primary" v-on:click="addStudent">Add</button>
        </div>

        <div class="card student-list m-2 p-2">
            <h4 class="card-title">Student List</h4>
            <div id="student-table">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>StarID</th>
                        <th>Present?</th>
                    </tr>

                   <!-- TODO create table rows 
                   Each row will have a checkbox, bound to the app's data 
                   When the checkbox is checked/unchecked, the student will be signed in/out -->
                    <tr v-for="student in students" v-bind:class=" { present: student.present, absent: !student.present } ">   <!-- Add style with css when 'student.present' is selected-->
                        <td>{{ student.name }}</td>
                        <td>{{ student.starID }}</td> 
                        <td>
                            <input type="checkbox" v-model="student.present" v-on:change="arrivedOrLeft(student)">
                        </td>

                    </tr>
                </table>
            </div>
        </div>


        <!-- TODO show a message when student arrives or leaves  -->

        <div v-if="mostRecentStudent.name">

            <div class="alert alert-info" role="alert" v-if="mostRecentStudent.present">
                Welcome, {{ mostRecentStudent.name }}
            </div>


            
            <div class="alert alert-success" role="alert" v-else>
                Goodbye, {{mostRecentStudent.name}}. See you later!
            </div>

        </div>


    </div>

    <script>
        let app= Vue.createApp ({
            data() {
                return{
                    newStudentName: '',
                    newStarID: '',

                    students: [  //object
                       {name: 'A. Aaron', starID: 'ii3333kk', present: true },  // array in object
                       {name: 'c. cyaa', starID: 'ii3133kk', present: false },
                       {name: 'b. bye', starID: 'ii3335kk', present: true }
                   ],
                   errors: [],
                   mostRecentStudent: {} // for most recent arrivial of students
                }
            },
            methods: {
                addStudent() {
                    this.errors = [] // clears errors array

                    if (!this.newStudentName) {
                        this.errors.push('Student name must be entered!')
                    }

                    if (!this.newStarID) {
                        this.errors.push('StarID must be entered')
                    }
                    if (this.errors.length == 0) {
                        let student = {name: this.newStudentName, starID: this.newStarID, present: false}
                        this.students.push(student)
                        this.newStudentName = ''  // clear the form
                        this.newStarID = ''

                        this.students.sort(function(s1,s2) {
                            //return positive number if s1 should be sorted after 
                            if (s1.name.toUpperCase() > s2.name.toUpperCase() ){
                                return 1
                            }
                            if (s1.name.toUpperCase() < s2.name.toUpperCase()) {
                                return-1
                            }
                            return 0 
                            // return negative is s1 should be sorted before s1
                            /// returnn 0 is order is equivalent
                        })
                        }

                        //display errors
                    }, 
                    arrivedOrLeft(student) {
                        //console.log('Someone arrived or left', student ) // shows if someone arrives or leaves in the consol
                        this.mostRecentStudent = student
                    }
            }
        })

        app.mount('#app')
        // TODO Vue app     


    </script>

</body>

</html>


                
