#records {
    max-height: 250px;
    overflow: scroll;
}

body {
    align-content: center;
    background-color: lemonchiffon;  /*change webpage background color*/
    font-family: Georgia, 'Times New Roman', Times, serif; /*request fonts in prefered order for the browser to read*/ 
}

#buttons {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(133, 245, 133);
    padding: 10px;
}

h2 { 
    color: pink;  /*font color*/
    font-size: 48px; /*font size*/
    text-align: center; /*Center the text*/
    font-family: Arial, Helvetica, sans-serif; /*font style in prefered order*/
}

#form-label {
    color: pink;  /*font color*/
    font-size: 48px; /*font size*/
    text-align: center; /*Center the text*/
    font-family: Arial, Helvetica, sans-serif; /*font style in prefered order*/
}

table, tr, th, td {    /*boarder for table*/
    border: 3px rgb(234, 118, 245) solid;
    border-collapse:inherit;
    margin-left: auto;  /*center table on left margin*/
    margin-right: auto; /*center table on right margin*/
}


th {    /*th = TABLE HEADER*/
    width: 200px;
    background-color: rgb(232, 189, 252);
}

td {
    text-align: center;
}

tr:nth-child(even) {  /*table row data  SELECT EVEN ONLY*/
    background-color: lightsteelblue;
}

tr:nth-child(odd){  /*table row data  SELECT ODD ONLY*/
    background-color: rgb(231, 231, 116);
} 

h3 {
    color: rgb(93, 243, 155);
    text-align: center;
}