<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@next"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="activityStyles.css" type="text/css">
</head>

<body>
    <div id="app">

        <!-- I display the name of the activity -->
        <h1 class="text-center">{{ activity }}! Activity Tracker</h1> 

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Records</h2>
            <div class="card-body">
               
                <!-- I use v-if to show this if there are validation errors -->
                <div class="alert alert-danger" v-if="errors.lengh > 0">
                    <!-- I show a list of validation errors from form -->
                    <ul>
                        <li v-for="erorr in errors"> {{ error }} </li>
                    </ul>
                </div>

                <div class="form-group">
                    <!-- I display name of activity in the label -->
                    <label class="form-label" for="date">What date did you do this activity?</label>
                    <!-- I use v-model to connect this input to dateString data -->
                    <input id="date" class="form-control" type="date" v-model="dateString">
                    <small id="date-help" class="form-text text-muted">
                        Date must be today or in the past.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="hours">How many hours did you practice for?</label>
                    <!-- I use v-model to connect this input to hours data -->
                    <input id="hours" class="form-control" type="number" min="0" max="24" v-model.number="hours">
                    <small id="hours-help" class="form-text text-muted">
                        Enter a number of hours, more than 0, up to a maximum of 24
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="type">What type?</label>
                    <!-- I Create select element, use v-model to connect to the types -->
                    <select class="form-control" v-model="type">
                        <option v-for="activityType in types"> {{ activityType }} </option>
                    </select>
                    <!-- I Use v-for to create option elements, one for each type -->
                   
                </div>

                <div class="form-label pb-2">
                    What media?
                </div>

                <div class="form-check-inline">  <!-- this is radio button 1 -->
                    <!-- I v-model media -->
                    <input id="media1" class="form-check-input" type="radio" value="Traditional" v-model="media">
                    <label class="form-check-label" for="media1">  Traditional  </label>
                </div>

                <div class="form-check-inline"> <!--this is ratio  button 2 -->
                    <!--  v-model media -->
                    <input id="media2" class="form-check-input" type="radio" value="Digital" v-model="media">
                    <label class="form-check-label" for="media2" > Digital  </label>
                </div>
            <br>
                <div class="form-check-inline"> <!-- this is the completed button-->
                    <input type="checkbox" id="Completed" name="Completed"> 
                    <label for="checkbox"> Completed </label>
                </div>

                <div>
                    <!-- I Add v-on:click -->
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                </div>

            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Records</h2>

            <div class="card-body">

                <h3> {{ totalRecordsMessage }}<!-- TODO Display number of records --> records</h3>

                <div id="records">
                    <table class="table table-hover" >
                        <tr>
                            <th>Date</th>
                            <th>How many hours?</th>
                            <th>Type</th>
                            <th>Media</th>
                        </tr>
                        <!-- TODO use v-for to create one table row for each activity record -->
                        <tr v-for="record in activityRecords" v-bind:class="">
                            <td> {{ shortDate(record.date) }} </td>
                            <td> {{ record.hours }}</td>
                            <td v-bind:class=""> {{ record.type }}</td>
                            <td> {{ record.medium }}</td>

                            </tr>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">

                <!-- TODO add computed property to calculate the total hours -->
                <p>You have practiced a total of {{ totalHours }} hours</p>

                <!-- Challenge question! Display a list of the total hours for each type.  -->
          
            </div>
        </div>

    </div>

    <script>
        let app = Vue.createApp({
            data(){   // function data
                return{ // return object
                    activity: 'Practice Violin', // name of activy tracker
                    // array of all the acitivy records

                    dateString: '',  //v-model to the form inputs
                    hours: 1,
                    type: 'Sketching',
                    medium: 'Traditional',

                    activityRecords: [],


                    types: ['Sketching', 'Drawing', 'Painting'], // used with the select-option choices

                    errors: []
                }
            },
            methods: {
                submit() {

                    this.errors= []
                    let date = new Date(this.dateString)
                    // is the date valid? is it today or in the past
                    if (!this.dateString || this.dateString === 'Invalid Date' || date > new Date() ) {
                        this.errors.push('Select a vaild date, today or in the past.')
                    }

                    if (this.hours <= 0 || this.hours > 24) {
                         this.errors.push('The number or hours must be greater than 0 and <= 24')
                    }

                    if (this.type) {
                        this.errors.push('Select a type')
                    }

                    if (this.medium) {
                        this.errors.push('Select a medium')
                    }


                    if (this.errors.length === 0) {
                        let record = {
                            date: date,
                            hours: this.hours,
                            type: this.type,
                            medium: this.medium
                    }

                        this.activityRecords.push(record)

                        // sort the acitivy records

                        this.activityRecords.sort(function(r1, r2) {
                            // sort with the oldest record fist 
                            return r1.date.getTime() - r2.date.getTime()
                        })
                    }
                },
                shortDate(date) {
                    return new Intl.DateTimeFormat('en-US', {timeZone: 'UTC'}).format(date)
                }
            },
            computed: {
                totalRecordsMessage() {

                    let numberOfRecords = this.activityRecords.length

                    if (numberOfRecords == 1 ) {
                        return '1 record'
                    } else {
                        return numberOfRecords + 'records'
                    }
                },
                totalHours() {
                    let total = 0
                    this.activityRecords.forEach(function(record) {
                        total = total + record.hours
                    })
                    return total
                }
            }

        })
    //   TODO create new Vue app here
        app.mount('#app')
    </script>

</body>

</html>